USE [DB_JOB_PORTAL]
GO
/****** Object:  Table [dbo].[T_ANSWERS]    Script Date: 21.10.2024 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ANSWERS](
	[A_ID] [int] IDENTITY(1,1) NOT NULL,
	[A_Q_ID] [int] NOT NULL,
	[A_TEXT] [nvarchar](255) NOT NULL,
	[A_ISCORRECT] [bit] NOT NULL,
	[A_STATUS] [bit] NOT NULL,
	[A_CREATE_DATE] [datetime] NULL,
	[A_UPDATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_CANDIDATE_ANSWERS]    Script Date: 21.10.2024 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CANDIDATE_ANSWERS](
	[CA_ID] [int] IDENTITY(1,1) NOT NULL,
	[CA_C_ID] [int] NOT NULL,
	[CA_R_ID] [int] NOT NULL,
	[CA_Q_ID] [int] NOT NULL,
	[CA_A_ID] [int] NOT NULL,
 CONSTRAINT [PK__Candidat__8A624CA064A8E4E9] PRIMARY KEY CLUSTERED 
(
	[CA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_CANDIDATES]    Script Date: 21.10.2024 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CANDIDATES](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_FIRSTNAME] [nvarchar](100) NOT NULL,
	[C_LASTNAME] [nvarchar](100) NOT NULL,
	[C_EMAIL] [nvarchar](255) NOT NULL,
	[C_PHONE] [nvarchar](20) NULL,
	[C_CREATE_DATE] [datetime] NULL,
	[C_RESUME_PATH] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Candidat__DF539BFCD06E9F6C] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_JOBS]    Script Date: 21.10.2024 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_JOBS](
	[J_ID] [int] IDENTITY(1,1) NOT NULL,
	[J_TITLE] [nvarchar](200) NULL,
	[J_REQUIREMENTS] [nvarchar](max) NULL,
	[J_STATUS] [bit] NULL,
	[J_CREATE_DATE] [datetime] NULL,
	[J_UPDATE_DATE] [datetime] NULL,
	[J_T_ID] [int] NULL,
	[J_QUESTION_QTY] [int] NULL,
 CONSTRAINT [PK_T_JOBS] PRIMARY KEY CLUSTERED 
(
	[J_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_QUESTIONS]    Script Date: 21.10.2024 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_QUESTIONS](
	[Q_ID] [int] IDENTITY(1,1) NOT NULL,
	[Q_T_ID] [int] NOT NULL,
	[Q_TEXT] [nvarchar](500) NOT NULL,
	[Q_CREATE_DATE] [datetime] NULL,
	[Q_STATUS] [bit] NULL,
	[Q_UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK__Question__0DC06F8CFBBE2DF6] PRIMARY KEY CLUSTERED 
(
	[Q_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TEST]    Script Date: 21.10.2024 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TEST](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[T_NAME] [nvarchar](255) NOT NULL,
	[T_DESCRIPTION] [nvarchar](500) NULL,
	[T_CREATE_DATE] [datetime] NULL,
	[T_STASTUS] [bit] NOT NULL,
	[T_UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK__Tests__8CC33100A16E5C7D] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TEST_RESULTS]    Script Date: 21.10.2024 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TEST_RESULTS](
	[TR_ID] [int] IDENTITY(1,1) NOT NULL,
	[TR_C_ID] [int] NOT NULL,
	[TR_T_ID] [int] NOT NULL,
	[TR_SCORE] [decimal](5, 2) NULL,
	[TR_TAKEN_DATE] [datetime] NULL,
	[TR_STATUS] [nvarchar](50) NULL,
	[TR_CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_ANSWERS] ADD  CONSTRAINT [DF_T_ANSWERS_A_STATUS]  DEFAULT ((1)) FOR [A_STATUS]
GO
ALTER TABLE [dbo].[T_ANSWERS] ADD  CONSTRAINT [DF_T_ANSWERS_A_CREATE_DATE]  DEFAULT (getdate()) FOR [A_CREATE_DATE]
GO
ALTER TABLE [dbo].[T_ANSWERS] ADD  CONSTRAINT [DF_T_ANSWERS_A_UPDATE_DATE]  DEFAULT (getdate()) FOR [A_UPDATE_DATE]
GO
ALTER TABLE [dbo].[T_CANDIDATES] ADD  CONSTRAINT [DF__Candidate__Regis__38996AB5]  DEFAULT (getdate()) FOR [C_CREATE_DATE]
GO
ALTER TABLE [dbo].[T_JOBS] ADD  CONSTRAINT [DF_T_JOBS_J_STATUS]  DEFAULT ((1)) FOR [J_STATUS]
GO
ALTER TABLE [dbo].[T_JOBS] ADD  CONSTRAINT [DF_T_JOBS_J_CREATE_DATE]  DEFAULT (getdate()) FOR [J_CREATE_DATE]
GO
ALTER TABLE [dbo].[T_JOBS] ADD  CONSTRAINT [DF_T_JOBS_J_UPDATE_DATE]  DEFAULT (getdate()) FOR [J_UPDATE_DATE]
GO
ALTER TABLE [dbo].[T_QUESTIONS] ADD  CONSTRAINT [DF__Questions__MaxAn__3E52440B]  DEFAULT (getdate()) FOR [Q_CREATE_DATE]
GO
ALTER TABLE [dbo].[T_QUESTIONS] ADD  CONSTRAINT [DF_T_QUESTIONS_Q_STATUS]  DEFAULT ((1)) FOR [Q_STATUS]
GO
ALTER TABLE [dbo].[T_QUESTIONS] ADD  CONSTRAINT [DF_T_QUESTIONS_Q_UPDATE_DATE]  DEFAULT (getdate()) FOR [Q_UPDATE_DATE]
GO
ALTER TABLE [dbo].[T_TEST] ADD  CONSTRAINT [DF__Tests__CreatedDa__3B75D760]  DEFAULT (getdate()) FOR [T_CREATE_DATE]
GO
ALTER TABLE [dbo].[T_TEST] ADD  CONSTRAINT [DF_T_TEST_T_STASTUS]  DEFAULT ((1)) FOR [T_STASTUS]
GO
ALTER TABLE [dbo].[T_TEST] ADD  CONSTRAINT [DF_T_TEST_T_UPDATE_DATE]  DEFAULT (getdate()) FOR [T_UPDATE_DATE]
GO
ALTER TABLE [dbo].[T_TEST_RESULTS] ADD  DEFAULT (getdate()) FOR [TR_TAKEN_DATE]
GO
ALTER TABLE [dbo].[T_TEST_RESULTS] ADD  CONSTRAINT [DF_T_TEST_RESULTS_TR_STATUS]  DEFAULT ((1)) FOR [TR_STATUS]
GO
ALTER TABLE [dbo].[T_TEST_RESULTS] ADD  CONSTRAINT [DF_T_TEST_RESULTS_TR_CREATE_DATE]  DEFAULT (getdate()) FOR [TR_CREATE_DATE]
GO
ALTER TABLE [dbo].[T_ANSWERS]  WITH CHECK ADD  CONSTRAINT [FK__Answers__Questio__4222D4EF] FOREIGN KEY([A_Q_ID])
REFERENCES [dbo].[T_QUESTIONS] ([Q_ID])
GO
ALTER TABLE [dbo].[T_ANSWERS] CHECK CONSTRAINT [FK__Answers__Questio__4222D4EF]
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS]  WITH CHECK ADD  CONSTRAINT [FK__Candidate__Answe__4BAC3F29] FOREIGN KEY([CA_A_ID])
REFERENCES [dbo].[T_ANSWERS] ([A_ID])
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS] CHECK CONSTRAINT [FK__Candidate__Answe__4BAC3F29]
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS]  WITH CHECK ADD  CONSTRAINT [FK__Candidate__Quest__4AB81AF0] FOREIGN KEY([CA_Q_ID])
REFERENCES [dbo].[T_QUESTIONS] ([Q_ID])
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS] CHECK CONSTRAINT [FK__Candidate__Quest__4AB81AF0]
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS]  WITH CHECK ADD  CONSTRAINT [FK__Candidate__Resul__49C3F6B7] FOREIGN KEY([CA_R_ID])
REFERENCES [dbo].[T_TEST_RESULTS] ([TR_ID])
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS] CHECK CONSTRAINT [FK__Candidate__Resul__49C3F6B7]
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS]  WITH CHECK ADD  CONSTRAINT [FK_T_CANDIDATE_ANSWERS_T_CANDIDATES] FOREIGN KEY([CA_C_ID])
REFERENCES [dbo].[T_CANDIDATES] ([C_ID])
GO
ALTER TABLE [dbo].[T_CANDIDATE_ANSWERS] CHECK CONSTRAINT [FK_T_CANDIDATE_ANSWERS_T_CANDIDATES]
GO
ALTER TABLE [dbo].[T_JOBS]  WITH CHECK ADD  CONSTRAINT [FK_T_JOBS_T_TEST] FOREIGN KEY([J_T_ID])
REFERENCES [dbo].[T_TEST] ([T_ID])
GO
ALTER TABLE [dbo].[T_JOBS] CHECK CONSTRAINT [FK_T_JOBS_T_TEST]
GO
ALTER TABLE [dbo].[T_QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK__Questions__TestI__3F466844] FOREIGN KEY([Q_T_ID])
REFERENCES [dbo].[T_TEST] ([T_ID])
GO
ALTER TABLE [dbo].[T_QUESTIONS] CHECK CONSTRAINT [FK__Questions__TestI__3F466844]
GO
ALTER TABLE [dbo].[T_TEST_RESULTS]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__Candi__45F365D3] FOREIGN KEY([TR_C_ID])
REFERENCES [dbo].[T_CANDIDATES] ([C_ID])
GO
ALTER TABLE [dbo].[T_TEST_RESULTS] CHECK CONSTRAINT [FK__TestResul__Candi__45F365D3]
GO
ALTER TABLE [dbo].[T_TEST_RESULTS]  WITH CHECK ADD  CONSTRAINT [FK__TestResul__TestI__46E78A0C] FOREIGN KEY([TR_T_ID])
REFERENCES [dbo].[T_TEST] ([T_ID])
GO
ALTER TABLE [dbo].[T_TEST_RESULTS] CHECK CONSTRAINT [FK__TestResul__TestI__46E78A0C]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'question id from questions table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_ANSWERS', @level2type=N'COLUMN',@level2name=N'A_Q_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'result id ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_CANDIDATE_ANSWERS', @level2type=N'COLUMN',@level2name=N'CA_R_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'question id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_CANDIDATE_ANSWERS', @level2type=N'COLUMN',@level2name=N'CA_Q_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'answer id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_CANDIDATE_ANSWERS', @level2type=N'COLUMN',@level2name=N'CA_A_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'test id from test table ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_JOBS', @level2type=N'COLUMN',@level2name=N'J_T_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'test id from tests table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_QUESTIONS', @level2type=N'COLUMN',@level2name=N'Q_T_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Test id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_TEST_RESULTS', @level2type=N'COLUMN',@level2name=N'TR_T_ID'
GO
